<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvfHzAr-raCy2P2U1HAPwY_rnok0g818Q</string>
	<key>GCM_SENDER_ID</key>
	<string>449983533761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase.quiz</string>
	<key>PROJECT_ID</key>
	<string>trackingdemo-508fb</string>
	<key>STORAGE_BUCKET</key>
	<string>trackingdemo-508fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449983533761:ios:3341f6a90506581a6a7a40</string>
	<key>DATABASE_URL</key>
	<string>https://trackingdemo-508fb-default-rtdb.firebaseio.com</string>
</dict>
</plist>